<?xml version="1.0"?>
<launch>

	<arg name="x" default="1.8"/>
  	<arg name="y" default="-7.8"/>
  	<arg name="z" default="0"/>
  	<arg name="roll" default="0"/>
  	<arg name="pitch" default="0"/>
  	<arg name="yaw" default="1.576"/>

	<!-- Include the gazebo world (in cnbiros_wheelchair_gazebo)/worlds/ -->
	<arg name="world" default="empty.world" />
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find cnbiros_wheelchair_gazebo)/worlds/$(arg world)"/>
	</include>

	<!-- Set the robot description parameter -->
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(find wheelchair_description)/urdf/wheelchair.urdf.xacro" />
	
	<!-- Spawn the wheelchair model in gazebo -->
	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model wheelchair -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" />
</launch>
